{% extends "layout.html" %}

{% block title %} Login to existing account {% endblock %}

{% block content %}
<div class="container login-brand">
    <div class="row">
        <div class="col-xl-6 offset-xl-3 col-md-10 offset-md-1">
            <div class="text-center">
                <img src="{{ url_for('static', filename='images/default/Logos/FINDER-Dark.png') }}" alt="Brand Logo"
                    width="180px">
            </div>
            <div class="mt-4">
                <form method="POST">
                    {{ form.hidden_tag() }}
                    <div class="mt-2">
                        {{ form.email.label(class="form-label mb-0") }}
                        {% if form.email.errors%}
                        {{ form.email(class="form-control login-input-box is-invalid", id="email") }}
                        <div class="invalid-feeedback">
                            {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                            {%endfor%}

                        </div>
                        {% else %}
                        {{ form.email(class="form-control login-input-box", id="email") }}
                        {%endif%}
                    </div>
                    <div class="mt-2">
                        {{form.password.label(class="form-label mb-0")}}
                        {% if form.password.errors%}
                        {{form.password(class="form-control login-input-box is-invalid", id="password")}}
                        <div class="invalid-feeedback">
                            {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                            {%endfor%}
                        </div>
                        {%else%}
                        {{form.password(class="form-control login-input-box", id="password")}}
                        {%endif%}

                    </div>
                    <div class="mt-2">
                        Do not have an account? <a href="{{ url_for('users.register_user') }}" class="link-dark"
                            style="text-decoration: none"><b>Create One!</b></a>
                    </div>
                    <div class="mt-2">
                        {{form.submit(class="btn btn-dark form-control")}}
                    </div>
                </form>
                <div class="mt-2">
                    <a href="{{ url_for('users.forget_password') }}" class="link-dark"
                        style="text-decoration: none"><b><u>Forgot your password</u></b></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}