{% extends "layout.html" %}

{% block title %} Login to existing account {% endblock %}

{% block content %}
<div class="container login-brand">
    <div class="row">
        <div class="col-xl-6 offset-xl-3 col-md-10 offset-md-1">
            <div class="text-center">
                <img src="{{ url_for('static', filename='images/default/Logos/FINDER-Dark.png') }}" alt="Brand Logo" width="180px">
            </div>
            <div class="mt-4">
                <form method="POST">
                    <div class="mt-2">
                        <label for="email" class="form-label mb-0">Email Address</label>
                        <input type="email" class="form-control login-input-box" id="email"
                            placeholder="ex. alenwalker123@gmail.com" name="email">
                    </div>
                    <div class="mt-2">
                        <label for="password" class="form-label mb-0">Password</label>
                        <input type="password" class="form-control login-input-box" id="password"
                            placeholder="type password here" name="password">
                    </div>
                    <div class="mt-2">
                        Do not have an account? <a href="{{ url_for('users.register_user') }}" class="link-dark" style="text-decoration: none"><b>Create One!</b></a>
                    </div>
                    <div class="mt-2">
                        <button type="submit" class="btn btn-dark form-control">Submit</button>
                    </div>
                </form>
                <div class="mt-2">
                    <a href="{{ url_for('users.forget_password') }}" class="link-dark" style="text-decoration: none"><b><u>Forgot your password</u></b></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}