{% extends "layout.html" %}

{% block title %} Register a new account {% endblock %}

{% block content %}
<div class="container reg-brand">
    <div class="row">
        <div class="col-xl-6 offset-xl-3 col-md-10 offset-md-1">
            <div class="text-center">
                <img src="{{ url_for('static', filename='images/default/Logos/FINDER-Dark.png') }}" alt="Brand Logo"
                    width="180px">
            </div>
            <div class="mt-4">
                <form method="POST">
                    {{ form.hidden_tag() }}
                    <div class="row g-2">
                        <div class="col">
                            {{ form.first_name.label(class="form-label mb-0") }}
                            {{ form.first_name(class="form-control reg-input-box", id="first_name") }}
                        </div>
                        <div class="col">
                            {{ form.last_name.label(class="form-label mb-0") }}
                            {{ form.last_name(class="form-control reg-input-box", id="last_name") }}
                        </div>
                        </div>
                        <div class="mt-2">
                            {{ form.email.label(class="form-label mb-0") }}
                            {{ form.email(class="form-control reg-input-box", id="email") }}
                        </div>
                        <div class="row g-2 mt-1">
                        <div class="col">
                            {{ form.dob.label(class="form-label mb-0") }}
                            {{ form.dob(class="form-control reg-input-box", id="dob") }}
                        </div>
                        <div class="col">
                            {{ form.gender.label(class="form-label mb-0") }}
                            {{ form.gender(class="form-control reg-input-box", id="gender") }}
                        </div>
                        </div>
                        <div class="mt-2">
                            {{ form.password.label(class="form-label mb-0") }}
                            {{ form.password(class="form-control reg-input-box", id="password") }}
                        </div>
                        <div class="mt-2">
                            {{ form.c_password.label(class="form-label mb-0") }}
                            {{ form.c_password(class="form-control reg-input-box", id="c_password") }}
                        </div>
                        <div div class="mt-2">
                            {{ form.condition_check(class="form-check-input") }}
                            {{ form.condition_check.label(class="form-check-label") }}
                        <a href="#" class="link-dark">terms and condition</a>
                        </div>
                        <div class="mt-2">
                            {{form.submit(class="btn btn-dark form-control")}}
                        </div>
                </form>
                <div class="mt-2">
                    Already got an account? <a href="{{ url_for('users.login_user') }}" class="link-dark" style="text-decoration: none"><b>Login!</b></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}