.cover-location {
    position: relative;
}

.cover-bg {
    background-color: rgba(15, 15, 15, 0.055);
}

.event-image {
    margin: 0;
    width: 100%;
    height: 450px;
    border-radius: 5px;
}

.location-name {
    padding: 15px 25px;
    background-color: rgba(16, 16, 16, 0.5);
    width: 18rem;
    color: #f3f3f3;
    position: absolute;
    bottom: 15px;
    left: 30px;
    
}

.event-time {
    color: #EE3A3A;
    font-size: 0.9rem;
    margin-bottom: 0;
    font-weight: bold;
}

.event-name-style{
    font-weight: bolder;  
    font-size: 1.5rem;
    margin-top: 0;
}

.btn-nav, .btn-nav:focus {
    min-width: 120px;
    color: #101010;
}

.active, .btn-nav:hover {
    background-color: #101010 !important;
    color: #f6f6f6 !important;
}

.event-status-top-bar {
    background-color: #F1F1F1;
    border-radius: 10px;
    padding: 10px 15px;
}

.link-icon-dark {
    color: #101010;
    padding: 0;
}

.link-icon-dark:hover {
    color: #101010;
}

.icon-dark:hover {
    transform: rotate(180deg);
    transition-duration: 0.5s;
}

.host-details-img{
    border-radius: 50%;
    border: 3px solid rgba(241, 241, 241, 0.5);
    height: 150px;
    width: 150px;
}

.sm-icon {
    font-size: 14px;
}

.sm-img {
    width: 150px;
}

.next-prev-slider-btn {
    font-size: 2rem;
}

.host-img-post{
    border-radius: 50%;
    border: 3px solid rgba(241, 241, 241, 0.5);
    height: 40px;
    width: 40px;
}

.dropdown-edit:hover {
    background-color: #0d6efd;
    color: #f8f9fa;
}

.dropdown-delete:hover {
    background-color: #dc3545;
    color: #f8f9fa
}

.btn-vote-comment:hover {
    background-color: #101010;
    color: #ffffff;
}
