{% extends "admins/admin-layout.html" %}

{% block title %} Admin dashboard {% endblock %}

{% block settings %}
<div class="card card-body shadow-card mb-3">
    System Status
</div>
<div class="row">
    <div class="col-md-6 m-2">
        <a href="#" class="card-link">
            <div class="card card-body">
                <div class="d-flex flex-column">
                    <div class="ms-auto"><i class="fas fa-external-link-alt"></i></div>
                    <div class="text-center">56</div>
                    <div class="text-center">Total Registered User</div>
                </div>
            </div>
        </a>
    </div>
</div>
{% endblock %}