{% extends "admins/admin-layout.html" %}

{% block title %} Admin dashboard {% endblock %}

{% block settings %}
<div class="card card-body shadow-card system-status">
    System Status
</div>
<div class="row mt-3">
    <div class="text-center">
        <div id="piechart"></div>
    </div>

</div>
<div class="row mt-3">
    <div class="col-md-6">
        <a href="{{ url_for('admins.pending_request') }}" class="card-link-a">
            <div class="card card-body card-link">
                <div class="d-flex flex-column">
                    <div class="ms-auto"><i class="fas fa-external-link-alt"></i></div>
                    <div class="text-center card-details">11</div>
                    <div class="text-center">Total Pending Approvals</div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-6">
        <a href="#" class="card-link-a">
            <div class="card card-body card-link">
                <div class="d-flex flex-column">
                    <div class="ms-auto"><i class="fas fa-external-link-alt"></i></div>
                    <div class="text-center card-details">13</div>
                    <div class="text-center">Total Unsolve Complains</div>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="mt-3">
    <form action="{{ url_for('admins.get_profile_by_profile_id') }}" class="d-flex" method="POST">
        <input class="form-control me-2 input-box" type="text" placeholder="Enter the profile ID"
            name="get_by_profile_id">
        <button class="btn btn-dark btn-search" type="submit">Get User by Profile ID</button>
    </form>
    <form action="{{ url_for('admins.get_profile_by_user_id') }}" class="d-flex mt-2" method="POST">
        <input class="form-control me-2 input-box" type="text" placeholder="Enter the user ID" name="get_by_user_id">
        <button class="btn btn-dark btn-search" type="submit">Get User by User ID</button>
    </form>
    <form action="{{ url_for('admins.get_profile_by_email_id') }}" class="d-flex mt-2" method="POST">
        <input class="form-control me-2 input-box" type="email" placeholder="Enter the user email address"
            name="get_by_email_id">
        <button class="btn btn-dark btn-search" type="submit">Get User by Email</button>
    </form>
    <form action="{{ url_for('admins.get_profile_by_nid_id') }}" class="d-flex mt-2" method="POST">
        <input class="form-control me-2 input-box" type="text" placeholder="Enter the user NID number"
            name="get_by_nid_id">
        <button class="btn btn-dark btn-search" type="submit">Get User by NID</button>
    </form>


    <div class="d-flex align-items-center mt-4 mb-3">
        <div class="flex-grow-1">
            <h1 class="profile-header user-font">New Users</h1>
        </div>
        <a href="#" class="btn btn-light">View all</a>
    </div>
    <div class="row">
        {% for user in users%}
        <div class="mb-2 col-md-12 col-lg-6">
            <div class="px-2">
                <div class="card card-body shadow-card">
                    <div class="d-flex flex-row">
                        <img src="{{ url_for('static', filename=user.profile.profile_photo) }}" alt=""
                            class="card-img align-self-center">
                        <a href="{{ url_for('profiles.view_profile', id=user.profile.id) }}"
                            class="d-flex flex-column align-self-center card-link-custom ms-3">
                            <h2 class="card-title-custom my-0">{{ user.profile.get_fullname() }}</h2>
                            <p class="card-body-custom my-0 text-muted">Joined on {{ user.get_joindate() }}</p>
                            <p class="card-body-custom my-0"><i class="fas fa-external-link-alt"></i></p>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

        var data = google.visualization.arrayToDataTable([
            ['Category', 'Number of users'],
            {% for key, value in data.items() %}
            ["{{key}}", {{ value }}],
            {% endfor %}
        ]);

        var options = {
            title: 'Server User Details'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
    }
</script>
{% endblock %}