{% extends "events/view-event/view-event-layout.html" %}
{% block title %} Event Posts {% endblock %}

{% block event_data %}
<div class="row">
    <div class="col-md-8 offset-md-2 col-sm-10 offset-sm-10">
        <div class="card card-body shadow-card mt-1">
            <div class="px-1">
                <div class="d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                        <img src="https://scontent.fdac116-1.fna.fbcdn.net/v/t39.30808-1/c0.69.320.320a/p320x320/242252182_3051200168534133_3468840385932885333_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=7206a8&_nc_ohc=_wzZSQnuvbEAX8DMoQJ&_nc_ht=scontent.fdac116-1.fna&oh=00_AT-aIXRfT_34dn2trDe3gzbWs_NoaRKmJygJX9eaM3kRog&oe=61D329A8"
                            class="host-img-post">
                        <div class="ms-2">
                            <div class="d-flex align-items-center">
                                <div class="fw-bold my-0">
                                    Shamsur Rahman
                                </div>
                                <div class="ms-2" style="font-size: 0.7rem"><i class="fas fa-circle"></i>
                                    Host
                                </div>
                            </div>
                            <div class="text-muted my-0" style="font-size: 0.7rem;">
                                Yesterday at 6:20 PM
                            </div>
                        </div>
                    </div>
                    <div class="align-self-center">
                        <div class="btn-group dropstart">
                            <button type="button" style="border: 0; background: none;" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <i class="fas fa-ellipsis-h"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item dropdown-pin" href="#">
                                        <i class="fas fa-thumbtack"></i> Pin post
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item dropdown-edit" href="#">
                                        <i class="fas fa-pen-nib"></i> Edit post
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item dropdown-delete" href="#">
                                        <i class="fas fa-trash-alt"></i> Delete post
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Eum alias eaque, ut consectetur obcaecati quia in expedita
                quam enim nobis.
            </p>
            <div class="mb-2 d-flex justify-content-between" style="font-size: 0.9rem;">
                <div class="d-flex mt-2">
                    <div>
                        <i class="fas fa-arrow-up"></i>
                        <span class="fw-bold">10</span>
                    </div>
                    <div class="ms-2">
                        <i class="fas fa-arrow-down"></i>
                        <span class="fw-bold">2</span>
                    </div>
                </div>
                <div class="fw-bold text-decoration-underline">
                    6 Comments
                </div>
            </div>
            <hr class="my-0" />
            <div class="d-flex">
                <div class="d-flex">
                    <a href="#" class="flex-fill btn btn-sm btn-light btn-vote-comment m-2 py-2 px-5">
                        <i class="fas fa-arrow-up"></i>
                        Up Vote
                    </a>
                    <a href="#" class="flex-fill btn btn-sm btn-light btn-vote-comment m-2 py-2 px-5">
                        <i class="fas fa-arrow-down"></i>
                        Down Vote
                    </a>
                </div>
                <a href="#" class="flex-fill btn btn-sm btn-light btn-vote-comment m-2 py-2 px-5">
                    <i class="far fa-comment-alt"></i>
                    Comment
                </a>
            </div>
            <hr class="my-0 mb-2" />
            <div class="d-flex align-items-center mb-2">
                <img src="https://scontent.fdac116-1.fna.fbcdn.net/v/t39.30808-1/c0.69.320.320a/p320x320/242252182_3051200168534133_3468840385932885333_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=7206a8&_nc_ohc=_wzZSQnuvbEAX8DMoQJ&_nc_ht=scontent.fdac116-1.fna&oh=00_AT-aIXRfT_34dn2trDe3gzbWs_NoaRKmJygJX9eaM3kRog&oe=61D329A8"
                    class="comment-img-post">
                <form action="#" method="POST" class="d-flex w-100 px-2">
                    <input type="text" name="comment" id="comment-box" class="form-control input-box me-2"
                        style="border-radius: 35px;" placeholder="Write a comment..." />
                    <button class="btn btn-sm btn-light px-3" type="submit"><i class="fas fa-paper-plane"></i></button>
                </form>
            </div>
            <!-- Comment Box -->
            <div class="mt-2">
                <div class="d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                        <img src="https://scontent.fdac116-1.fna.fbcdn.net/v/t39.30808-1/c0.69.320.320a/p320x320/242252182_3051200168534133_3468840385932885333_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=7206a8&_nc_ohc=_wzZSQnuvbEAX8DMoQJ&_nc_ht=scontent.fdac116-1.fna&oh=00_AT-aIXRfT_34dn2trDe3gzbWs_NoaRKmJygJX9eaM3kRog&oe=61D329A8"
                            class="comment-img-post">
                        <div class="ms-2">
                            <div class="d-flex align-items-center">
                                <div class="fw-bold my-0" style="font-size: 0.9rem;">
                                    Shamsur Rahman
                                </div>
                                <div class="ms-2" style="font-size: 0.7rem"><i class="fas fa-circle"></i>
                                    Host
                                </div>
                            </div>
                            <div class="text-muted my-0" style="font-size: 0.7rem;">
                                Yesterday at 6:20 PM
                            </div>
                        </div>
                    </div>
                    <div class="align-self-center">
                        <div class="btn-group dropstart">
                            <button type="button" style="border: 0; background: none;" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <i class="fas fa-ellipsis-h"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item dropdown-edit" href="#">
                                        <i class="fas fa-pen-nib"></i> Edit comment
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item dropdown-delete" href="#">
                                        <i class="fas fa-trash-alt"></i> Delete comment
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <p>
                    This is the comment content
                </p>
                <!-- Reply -->
                <div class="ms-5">
                    <div class="d-flex align-items-center mb-2">
                        <img src="https://scontent.fdac116-1.fna.fbcdn.net/v/t39.30808-1/c0.69.320.320a/p320x320/242252182_3051200168534133_3468840385932885333_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=7206a8&_nc_ohc=_wzZSQnuvbEAX8DMoQJ&_nc_ht=scontent.fdac116-1.fna&oh=00_AT-aIXRfT_34dn2trDe3gzbWs_NoaRKmJygJX9eaM3kRog&oe=61D329A8"
                            class="reply-img-post">
                        <form action="#" method="POST" class="d-flex w-100 px-2">
                            <input type="text" name="comment" id="comment-box" class="form-control input-box me-2"
                                style="border-radius: 35px; font-size: 0.8rem;" placeholder="Write a reply..." />
                            <button class="btn btn-sm btn-light px-3" type="submit"><i
                                    class="fas fa-paper-plane"></i></button>
                        </form>
                    </div>
                    <!-- Reply Box -->
                    <div class="mt-2">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex align-items-center">
                                <img src="https://scontent.fdac116-1.fna.fbcdn.net/v/t39.30808-1/c0.69.320.320a/p320x320/242252182_3051200168534133_3468840385932885333_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=7206a8&_nc_ohc=_wzZSQnuvbEAX8DMoQJ&_nc_ht=scontent.fdac116-1.fna&oh=00_AT-aIXRfT_34dn2trDe3gzbWs_NoaRKmJygJX9eaM3kRog&oe=61D329A8"
                                    class="reply-img-post">
                                <div class="ms-2">
                                    <div class="d-flex align-items-center">
                                        <div class="fw-bold my-0" style="font-size: 0.8rem;">
                                            Shamsur Rahman
                                        </div>
                                        <div class="ms-2" style="font-size: 0.6rem"><i class="fas fa-circle"></i>
                                            Host
                                        </div>
                                    </div>
                                    <div class="text-muted my-0" style="font-size: 0.6rem;">
                                        Yesterday at 6:20 PM
                                    </div>
                                </div>
                            </div>
                            <div class="align-self-center">
                                <div class="btn-group dropstart">
                                    <button type="button" style="border: 0; background: none;" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <i class="fas fa-ellipsis-h"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item dropdown-edit" href="#">
                                                <i class="fas fa-pen-nib"></i> Edit reply
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item dropdown-delete" href="#">
                                                <i class="fas fa-trash-alt"></i> Delete reply
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <p style="font-size: 0.8rem;">
                            This is the reply content
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}